<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.bob.health_helper">
    <!-- 连接网络权限 -->
    <uses-permission android:name="android.permission.INTERNET" /> <!-- 获取手机录音机使用权限 -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" /> <!-- 读取网络信息状态 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- 获取当前wifi状态 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" /> <!-- 允许程序改变网络连接状态 -->
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" /> <!-- 读取手机信息权限 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" /> <!-- SD卡读写的权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.Camera"/>
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <!-- Android6.0 bluetooth scan -->
    <uses-permission-sdk-23 android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.RECEIVE_SMS"/>
    <uses-permission android:name="android.permission.READ_SMS"/>
    <uses-permission android:name="android.permission.GET_TASKS" />

    <permission android:name="com.example.bob.health_helper.permission.MIPUSH_RECEIVE" android:protectionLevel="signature" />
    <uses-permission android:name="com.example.bob.health_helper.permission.MIPUSH_RECEIVE" />
    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <receiver android:name=".Me.ReminderReceiver">
            <intent-filter>
                <action android:name="com.example.bob.health_helper.alarm"/>
            </intent-filter>
        </receiver>
        <activity android:name=".Me.activity.ReminderDetailActivity"></activity>
        <activity android:name=".Me.activity.ReminderActivity" />
        <activity android:name=".News.activity.NewsDetailActivity" />
        <activity android:name=".Me.activity.EditUserInfoActivity" />
        <activity android:name=".Me.activity.SettingActivity" />
        <activity
            android:name=".Me.activity.UserLikeAnswerActivity"
            android:label="@string/my_like" />
        <activity
            android:name=".Me.activity.UserFavoriteQuestionActivity"
            android:label="@string/my_favorite" />
        <activity
            android:name=".Me.activity.UserAnswerActivity"
            android:label="@string/my_answer" />
        <activity
            android:name=".Me.activity.UserQuestionActivity"
            android:label="@string/my_question" />
        <activity android:name=".Community.activity.CommentActivity" />
        <activity android:name=".Community.activity.AddAnswerActivity" />
        <activity
            android:name=".Community.activity.QuestionDetailActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity android:name=".Community.activity.AddQuestionActivity" />
        <activity android:name=".Community.activity.SearchActivity" android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LoginActivity" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" /> <!-- 注册QQ Activity -->
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="tencent101553511" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="behind"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <activity android:name=".Chat.activity.ChatActivity"/>
        <activity android:name=".Measure.activity.MeasureReportActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <!--  消息收发 service -->
        <service
            android:name="com.tencent.imsdk.session.remote.SessionService"
            android:process=":network"/>
        <!--  消息收发辅助 service -->
        <service
            android:name="com.tencent.imsdk.session.remote.AssistService"
            android:process=":network"/>
        <service
            android:name="com.tencent.imsdk.session.remote.KeepAliveJobService"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:process=":network"/>
        <!--  离线消息广播接收器 -->
        <receiver android:name="com.tencent.imsdk.session.SessionBroadcastReceiver">
            <intent-filter>
                <action android:name="com.tencent.imsdk.session.boot" />
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
            </intent-filter>
        </receiver>

        <service
            android:enabled="true"
            android:process=":pushservice"
            android:name="com.xiaomi.push.service.XMPushService"/>
        <service
            android:name="com.xiaomi.push.service.XMJobService"
            android:enabled="true"
            android:exported="false"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:process=":pushservice" />
        <!--注：此service必须在小米推送SDK3.0.1版本以后（包括3.0.1版本）加入-->
        <service
            android:enabled="true"
            android:exported="true"
            android:name="com.xiaomi.mipush.sdk.PushMessageHandler" />
        <service android:enabled="true"
            android:name="com.xiaomi.mipush.sdk.MessageHandleService" />
        <!--注：此service必须在小米推送SDK2.2.5版本以后（包括2.2.5版本）加入-->
        <receiver
            android:exported="true"
            android:name="com.xiaomi.push.service.receivers.NetworkStatusReceiver" >
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>
        <receiver
            android:exported="false"
            android:process=":pushservice"
            android:name="com.xiaomi.push.service.receivers.PingReceiver" >
            <intent-filter>
                <action android:name="com.xiaomi.push.PING_TIMER" />
            </intent-filter>
        </receiver>

        <receiver
            android:exported="true"
            android:name="com.example.bob.health_helper.Receiver.MiPushMessageReceiver">
            <!--这里 com.tencent.imsdk.MiPushMessageReceiver 改成 App 中定义的完整类名-->
            <intent-filter>
                <action android:name="com.xiaomi.mipush.RECEIVE_MESSAGE" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.xiaomi.mipush.MESSAGE_ARRIVED" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.xiaomi.mipush.ERROR" />
            </intent-filter>
        </receiver>
        <!--LS message Notification  to  receive data-->
        <service
            android:name="com.lifesense.ble.message.NotificationService"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE" >
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService" />
            </intent-filter>
        </service>

    </application>

</manifest>